/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #333;
  color: #f5f5f5;
}

h1 {
  margin: 30px;
  font-size: 2em;
  color: #FFC75F;
}

h2 {
  margin: 20px;
  font-size: 1.5em;
  color: #F7EDE2;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  text-align: left;
  width: 60%;
  background-color: #444;
  border-radius: 10px;
  overflow: hidden;
}

th, td {
  padding: 15px;
  border-bottom: 1px solid #555;
}

th {
  font-weight: bold;
  background-color: #555;
  color: #F7EDE2;
}

ol {
  text-align: left;
  display: inline-block;
  margin: 0 auto;
  padding: 20px;
  background-color: #444;
  border-radius: 10px;
  overflow: hidden;
}

li {
  margin-bottom: 20px;
}

strong {
  font-weight: bold;
  color: #FFC75F;
}
.green-button {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 12px;
      cursor: pointer;
    }

    .green-button:hover {
      background-color: #45a049;
    }

    .button-container {
      float: right;
    }