body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    height: 100vh;
  }
  
  /* Input Forms*/
  input[type="email"], input[type="password"], input[type="text"]{
    outline: none;
    padding: 12px;
    display: block;
    width: 80%;
    border-radius: 3px;
    border: 1px solid #eee;
    margin: 20px auto;
  }
  
  input[type="submit"] {
    padding: 10px;
    color: #fff;
    background: #7700ff;
    width: 50%;
    margin: 20px auto;
    margin-top: 0;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #eb00a5;
  }
  
  /* Header */
  header {
    border-bottom: 2px solid #eee;
    padding: 20px 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
  }
  header a {
    text-decoration: none;
    color: #333;
  }
  .a.a {
    text-decoration: none;
    color: rgb(0, 253, 13);
  }
  .a:hover {
    color: #fff;
  }
  .login-box {
    width: 320px;
    height: 480px;
    background: #530837;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box; 
    padding: 30px 10px;
    border-radius:10px;
    margin-top:50px;
  }