body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
  }
  
  .login-box {
    width: 320px;
    height: 420px;
    background: #530837;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box; 
    padding: 30px 30px;
    border-radius:10px;
    margin-top:50px;
  }
  
  .login-box .avatar {
    width: 160px;
    height: 160px;
    border-radius: 0%;
    position: absolute;
    top: 2px;
    left: calc(50% - 80px);
  }
  
  .login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    position: absolute;
    top: 170px;
    left: 80px;
    text-align: center;
    font-size: 26px;
    
    
  }
  
  .login-box label.correo {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 200px;
    left: 20px;
    font-weight: bold;
    display: block;
    
  }
  .login-box label.password {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 260px;
    left: 20px;
    font-weight: bold;
    display: block;
  }
  
  .login-box input.EnterCorreo {
    position: absolute;
    top: 200px;
    left: 20px;
    margin-bottom: 20px;
  }
  .login-box input.EnterPassword {
    position: absolute;
    top: 260px;
    left: 20px;
    margin-bottom: 20px;
  }
  .login-box input[type="email"], .login-box input[type="password"]{
    outline: none;
    padding: 10px;
    display: block;
    width: 80%;
    border-radius: 3px;
    border: 1px solid #eee;
    margin: 20px auto;
  }
  
  .login-box input[type="submit"] {
    padding: 10px;
    color: #fff;
    background: #7700ff;
    width: 120px;
    height: 35px;
    margin: 20px auto;
    margin-top: 0;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    
    
  }
  .login-box input[type="submit"]:hover {
    background-color: #eb00a5;
  }
  .login-box .boton{ 
    position: absolute;
    top: 322px;
    left: 99px  
  }
  .login-box a.a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
    position: absolute;
    top: 360px;
    left: 20px;
  }
  .login-box a.b {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
    position: absolute;
    top: 380px;
    left: 20px;
  }
  
  .login-box a:hover {
    color: #fff;
  }